#cloud-config
cloud_final_modules:
  - [users-groups,always]
users:
  - name: admin1
    groups:  wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh-authorized-keys:
      - ${admin_1_public_key}